/* Global style reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

article {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-image {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('Tadej-Pogacar2.jpg');
    background-size: cover;
    background-position: center center;
}

.gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%; /* Adjust height to control the gradient area */
    background: linear-gradient(to top, rgba(69, 75, 165, 0.7), transparent);
    z-index: 1; /* Lower z-index to place gradient behind other elements */
}

.uci-logo-overlay {
    position: absolute;
    bottom: 1in;
    right: 1in;
    width: auto;
    height: 100px;
    z-index: 2;
}

.uci-logo-overlay img {
    width: 100%;
    height: 100%;
}

.left-lines-overlay {
    position: absolute;
    bottom: 1in;
    left: 1in; 
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3; /* Highest z-index so lines are above everything */
}

.line {
    width: 5in;
    height: 20px; 
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
}
.line:nth-child(1) {
    background-color: rgba(0, 0, 255, 0.5);
}

.line:nth-child(2) {
    background-color: rgba(255, 0, 0, 0.5);
}

.line:nth-child(3) {
    background-color: rgba(0, 0, 0, 0.5);
}

.line:nth-child(4) {
    background-color: rgba(255, 255, 0, 0.5);
}

.line:nth-child(5) {
    background-color: rgba(0, 255, 0, 0.5);
}


.text-boxes-overlay {
    position: absolute;
    bottom: 1in;
    left: 5in; 
    display: flex;
    align-items: center; 
    height: 100px;
    width: 400px; 
    z-index: 4; /* Highest z-index so boxes are above everything */
}

.black-box {
    background-color: rgba(0, 0, 0); 
    color: white;
    padding: 10px; 
    font-size: 30px;
    font-family: Arial, sans-serif;
    font-weight: bolder;
    text-align: center;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center; 
    border-bottom-left-radius: 45px; /* Adjust the radius to preference */
}

.white-box {
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    padding: 10px;
    font-size: 30px;
    font-family: Arial, sans-serif;
    font-weight: bolder;
    text-align: center;
    height: 100%; 
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center; 
}
